<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

    <link th:href="@{/css/libs.css}" href="../static/css/libs.css" rel="stylesheet" />
    <link th:href="@{/css/app.css}" href="../static/css/app.css" rel="stylesheet" />

    <script th:inline="javascript">
        /*<!CDATA[*/
        window.configParams = {
            "user": /*[[${user}]]*/null,
            "token": /*[[${token}]]*/null,
            socket_host: /*[[${socketHost}]]*/"http://localhost:9210"
        };
        /*]]>*/
    </script>

    <script th:src="@{/js/libs.min.js}" src="../static/js/libs.min.js"></script>
    <script th:src="@{/js/app.min.js}" src="../static/js/app.min.js"></script>
</head>
<body ng-app="tjaziWebApp" ng-controller="IndexController">
    <div>
        <div ui-view=""></div>
    </div>
</body>
</html>